# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/dataSources.local.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/**
**/target
**/**iml
**/bin/


*.settings
*.classpath
*.project
target
*.imi

**/**.apt_generated
**/**.factorypath
.factorypath
.apt_generated
.springBeans
*.springBeans